/* ############ Reset Styling ############ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############ General Changes ############ */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #272a31;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ec5242;
}

ul {
  list-style: none;
}

/* ###################### Mobile Version ###################### */

/* ############ Top nav Menu ############ */

.topMenu {
  display: none;
}

/* ############ Main nav Menu ############ */

.mainMenu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.mainMenuCont {
  width: 85%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainMenu img {
  width: 65%;
}

#mainNav {
  display: none;
}

#mainNav.show {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 27px 7.55%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

#mainNav .fa-times {
  color: #fff;
}

#mainNav ul {
  padding-top: 50px;
  padding-left: 20px;
}

#mainNav ul li {
  margin-top: 30px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.aboutLink {
  color: #ec5242;
}

.mainNavBtn {
  color: #ec5242;
  background-color: transparent;
  padding: 10px 15px;
  border: 3px solid #ec5242;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.mainNavBtn:hover {
  color: #fff;
  background-color: #ec5242;
  padding: 10px 15px;
  border: 3px solid #ec5242;
  transition: 0.5s;
}

/* ############ Hero Section ############ */

.hero {
  width: 100%;
  padding-top: 50px;
  background-image: url(./images/mobile-hero-bg.png);
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: cover;
  height: auto;
}

.mainHeading {
  padding-top: 70px;
  width: 90%;
  margin: auto;
}

.mainHeading h2 {
  color: #ec5242;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 90%;
}

.mainHeading h1 {
  color: rgba(236, 82, 66, 0.5);
  font-size: 1.9em;
  font-weight: 900;
  line-height: 110%;
  background-image: url(./images/Text-bg.png);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.message {
  width: 95%;
  margin: 20px auto;
  padding: 1em 1em;
  border: 4px solid #fff;
  background-color: #f7f7f8;
  color: #575757;
  line-height: 1.9em;
  font-size: 13px;
  font-weight: 600;
  text-align: justify;
}

.dateAndLocation {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.dateAndLocation h2 {
  color: #575757;
  font-weight: 800;
}

.dateAndLocation h4 {
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 60px;
}

/* ############ Main Program Section ############ */

.mainProgram {
  background-image: url(./images/pattern-bg.png);
  background-repeat: repeat;
  background-color: #272a32;
  height: 100%;
}

.sectionCont {
  padding: 60px 0;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: #f5f5f5;
}

.sectionTitle hr {
  height: 0;
  width: 55px;
  border: 0.5px solid #ec5242;
  margin-top: 10px;
}

.programList {
  margin-top: 55px;
}

.pListItem {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 7px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.progIcon img {
  width: 65px;
  height: 60px;
  flex: 1;
}

.progTitle {
  flex: 1;
  color: #ec5242;
}

.progDescribtion {
  flex: 2;
  color: #f5f5f5;
  font-size: 0.9em;
  font-weight: 400;
}

.seeAllProg {
  padding: 15px 25px;
  background-color: #ec5242;
  font-size: 1.1em;
  color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
}

/* ############ Featured Speakers Section ############ */

#speakersCont .sectionTitle h2 {
  color: #3e3e3e;
}

.speakersList {
  width: 98%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
}

.speaker {
  display: flex;
  gap: 10px;
}

.speakerImg {
  width: 110px;
  height: 110px;
}

.speakerName {
  font-size: 1.1em;
  font-weight: 800;
}

.speakerTitle {
  margin-top: 5px;
  color: #ec5242;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 600;
}

.speakerInfo hr {
  margin-top: 7px;
  border: 0.5px solid #888;
  width: 15%;
  height: 0;
}

.speakerDesc {
  margin-top: 7px;
  color: #575757;
  font-size: 0.8em;
  font-weight: 500;
}

/* ############ Partners Section ############ */

.partners {
  background-color: #272a32;
}

.partnersImg {
  width: 95%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.partnerImg {
  height: 35px;
  width: auto;
}

.partnerImg:hover {
  color: #ec5242;
}

/* ############ Footer ############ */

footer .sectionCont {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer img {
  width: 130px;
}

footer p {
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
}

/* ###################### Desktop Version ###################### */

@media only screen and (min-width: 768px) {
  /* ############ Top nav Menu ############ */

  .topMenu {
    display: block;
    width: 100%;
    background-color: #3e3e3e;
  }

  #topNav {
    max-width: 1100px;
    width: 98%;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topMenu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .topMenu a {
    color: #fff;
  }

  .topMenu a:hover {
    color: #ec5242;
  }

  /* ############ Main nav Menu ############ */

  .mainMenu {
    top: 36px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  }

  .mainMenuCont {
    max-width: 1100px;
    width: 98%;
    height: 80px;
  }

  .mainMenuCont .fa-bars {
    display: none;
  }

  #mainNav .fa-times {
    display: none;
  }

  #mainNav {
    display: block;
  }

  .logo img {
    width: 80%;
  }

  #mainNav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 0;
    padding-left: 0;
  }

  #mainNav ul li {
    color: #888;
    margin-top: 0;
    font-size: 1em;
  }

  /* ############ Hero Section ############ */
  .hero {
    width: 100%;
    margin-top: 80px;
    height: 855px;
    background-image: url(./images/desktop-bg.png);
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: cover;
  }

  .heroCont {
    max-width: 1100px;
    width: 98%;
    margin: auto;
  }

  .mainHeading {
    padding-top: 80px;
    width: auto;
    margin: auto;
  }

  .mainHeading h2 {
    font-size: 3.5em;
  }

  .mainHeading h1 {
    font-size: 5em;
    line-height: 100%;
  }

  .message {
    width: 60%;
    margin: 20px 0;
    color: #575757;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: 600;
  }

  .dateAndLocation {
    width: 60%;
    margin: 0;
    margin-top: 35px;
    text-align: left;
  }

  .dateAndLocation h2 {
    color: #575757;
    font-size: 35px;
    font-weight: 900;
  }

  .dateAndLocation h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0;
  }

  /* ############ Main Program Section ############ */

  .sectionCont {
    max-width: 1100px;
    width: 98%;
  }

  .sectionTitle h1 {
    font-size: 2em;
  }

  .sectionTitle hr {
    margin-top: 15px;
  }

  .programList {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  .pListItem {
    padding: 30px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    gap: 15px;
  }

  .progIcon img {
    width: 65px;
    height: 60px;
    flex: none;
  }

  .progTitle {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex: none;
  }

  .progDescribtion {
    flex: none;
    font-weight: 300;
    text-align: center;
  }

  .seeAllProg {
    padding: 0;
    background-color: transparent;
    font-size: 1.1em;
    line-height: 1.1em;
    word-spacing: 2px;
    color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 3px;
  }

  /* ############ Featured Speakers Section ############ */

  .speakersList {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
  }

  .speaker {
    gap: 20px;
  }

  .speakerImg {
    width: 170px;
    height: 170px;
  }

  .speakerName {
    font-size: 1.2em;
  }

  .speakerTitle {
    margin-top: 10px;
  }

  .speakerInfo hr {
    margin-top: 15px;
  }

  .speakerDesc {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
  }

  /* ############ Partners Section ############ */

  .partnersImg {
    max-width: 1100px;
    width: 98%;
    justify-content: space-between;
  }

  /* ############ Footer ############ */

  footer .sectionCont {
    flex-direction: row;
  }
}
